@charset "utf-8";
header hr{border:1px solid #e0e0e0}
.fake{width:100%;height:103px;margin-bottom:80px}
.category_ment{margin-bottom:40px}
ul.tabs{width:650px;margin:0 auto 50px}
ul.tabs li{float:left}
ul.tabs li.arrow{width:30px;height:48px;background:url(../img/join_arrow.png)}
ul.tabs li a{display:block;width:140px;height:48px;line-height:46px;font-size:16px;box-sizing:border-box;border-radius:24px;color:#8e8e8e;text-align:center}
ul.tabs li.active a{background-color:#353b91;border-color:#353b91!important;color:#fff;font-weight:500}
.agree{width:1000px;margin:0 auto}
.agree .agree_title{color:#363636;font-weight:500;padding-left:20px;background:url(../img/title_bar.png) no-repeat left center;margin-bottom:10px}
.agree .box{border:1px solid #e0e0e0;box-sizing:border-box;width:1000px;height:350px;padding:25px;margin-bottom:15px}
.agree .box p{font-size:15px;color:#6b6b6b}
.agree .selectbox{margin-bottom:60px}
.agree .selectbox label{cursor:pointer;font-size:15px;color:#363636;float:right;line-height:13px;margin-left:10px}
.agree .selectbox .check_wrap{float:right;width:13px;height:13px;position:relative}
input[type="checkbox"]{width:13px;height:13px;position:absolute;top:0;left:0;margin:0!important;opacity:0;z-index:2;cursor:pointer}
.check_btn{width:13px;height:13px;background:url(../img/checkbox_02.png);position:absolute;top:0;left:0}
input[type="checkbox"]:checked + .check_btn{background:url(../img/checkbox_01.png)}
input[type="submit"]{width:200px;height:55px;line-height:55px;color:#fff;font-weight:500;font-family:inherit;font-size:16px;margin:0 auto;display:block;cursor:pointer}
