@charset "utf-8";
.header_banner{background:url(../img/company_bg.png) center center}
div.cont{margin-top:70px}
h3.purple{text-align:left;width:960px}
div.text{float:left}
p.text{color:#6b6b6b;width:575px;line-height:33px;text-align:left;margin:15px 0 20px}
p.last{font-size:17px;font-weight:500}
p.last span.black{margin-left:15px}
div.cont > img{width:390px;height:460px;float:right;margin-top:-515px}
